table.table-item {
  width: 100%;
  border: 1px solid #ccc;
  tr{
    td, th{
      padding: 10px;
    }
  }
  thead{
    tr{
      border-bottom: 1px solid #ccc;
      th{
        &:nth-child(1){
          width: 20%
        }
        &:nth-child(2){
          width: 30%
        }
        &:nth-child(3){
          width: 20%
        }
        &:nth-child(4){
          width: 10%
        }
        &:nth-child(5){
          width: 20%
        }
        &:not(:last-child){
          border-right: 1px solid #ccc;
        }
      }
    }
  }
  tbody{
    tr{
      td{

      }
    }
  }
}