.Header{
  margin-bottom: 20px;
  .nav-item{
    a {
      color: rgba(0,0,0,.5) !important;
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }
  .dropdown{
    cursor: pointer;
    a{
      padding-top: 0;
      padding-bottom: 0;
      color: rgba(0, 0, 0, 0.5) !important;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .dropdown-menu{
      a{
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}

